*{
margin: 0;
list-style-type:none ;
}
:root{
    --primary-color--:#05427A;
    --secondary-color--:#021425;
    --tertiary-color--:#02386B;
    --button-color:#D9D9D9;
    --another-color:#1681E5;

}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: white;
    align-items:center;
    height: 70px;
    position: fixed;
    width: 100%;
    top:0;
    z-index:1000;
    box-shadow: 0 4px 6px #02142583;
}
.logo img{
    height:50px;
}
nav ul {
    display:flex;
    gap:30px;
   
    
}
nav ul li{
   
}
nav ul li a{
   
    color:var(--primary-color--);
    text-decoration: none;
    font-size:17px;
    font-family: arial;
    text-transform: uppercase;
  
   
}
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color--);
    margin: 5px 0;
    transition: var(--transition--);
}
button{
    background-color:var(--tertiary-color--); 
    color:white;
    border-radius: 5px;
    border: none;
    height: 30px;;
    width:100px;
    color:white;
  
   

 }
 button:hover{
    background-color:#1681E5;
    transform:scale(1.1);
    transition-duration: 1s;
    border: 2px solid #021425;
    scale: 1;

   
 }
 button a{
    color:white;
    font-size: 15px;
    text-decoration: none;  
   
 }
.for{
    background: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.493)),url(/GALLERY/AI\ Emergence\ in\ Workspaces_\ $1_2\ Trillion\ Saved\ in\ Maintenance.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:60vh;
}
.intro h1{
   text-align: center;
   color:var(--another-color);
   font-family: arial;
   font-size: 90px;
   padding-top: 100px;
}
.write{
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
    justify-content: center;
    gap:100px;
    
}
#right{
  
}
#right h4{
    color:#021425;
    font-family:Arial;
    font-size: 50px;
}
#right p{
    color:var(--secondary-color--);
    font-family: arial;
    width:400px;
}
.write img{
    height:250px;
   
}
.values{
    margin-top:50px;
 h2{
    text-align: center;
    font-family: sans-serif;
    padding:30px;
 }
}
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}
.items{
    box-shadow: 2px 4px 6px gray;
    height:250px;
    width:250px;
    border-radius:10px;
    text-align: center;
    color:#021425;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:20px;  
}

.close{
    margin-top: 30px;
    position: relative;
    right: 20px;
}
.close h2{
    color:#021425;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;   
}

footer{
    background: linear-gradient(rgba(0, 0, 0, 0.918),rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.24)),url(/GALLERY/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

 

}
.bigger{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content:space-around;
    height: auto;
    width: 100%;
    
}
.side{
    display: flex;
    flex-direction: column;
}
.side img{
    height: 20vh;
}
.side p{
    color:var(--another-color);
    font-family: arial;
}
.side button{
    background-color: var(--another-color);
    width:100px;

}
.company{
    text-align: center;
    margin-top: 40px;
}
.company h1{
    font-family: arial;
    font-size: 45px;
    color:white;
}
.company ul li a{
    text-decoration: none;
    color:var(--another-color);
    font-family: arial;
    font-size: 25px;
}
.to{
    display: flex;
    color:white;
    margin-top: 150px;
    margin-right: 90px;

}
.to a{
    color:white;
    text-decoration: none;
    font-family: arial;
}


hr{
    height:2px;
    background-color:white
}
.last{
    position: relative;
    /* bottom: 90px; */
}
.copy{
    color:white;
   text-align: center;
    font-family: arial;
 }
