*{
margin: 0;
list-style-type:none ;
}
:root{
    --primary-color--:#05427A;
    --secondary-color--:#021425;
    --tertiary-color--:#02386B;
    --button-color:#D9D9D9;
    --another-color:#1681E5;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.logo img{
    height:90px;
}
nav ul {
    display:flex;
    gap:30px;
   
    
}
nav ul li{
    margin-right: 30px;
    position: relative;
    right: 70px;
}
nav ul li a{
   
    color:var(--primary-color--);
    text-decoration: none;
    font-size:17px;
    position:relative;
    top:39px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
   
}

button{
    background-color:var(--tertiary-color--); 
    color:white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    height:5vh;
    width:10vw;
    color:white;
    position: relative;
    right: 80px;

 }
 button:hover{
    background-color: var(--secondary-color--);
    transform:scale(1.1);
    transition-duration: 1s;
   
 }
 button a{
    color:white;
    font-size: 15px;
    text-decoration: none;
   
   
 }
.for{
    background: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.493)),url(/GALLERY/AI\ Emergence\ in\ Workspaces_\ $1_2\ Trillion\ Saved\ in\ Maintenance.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:60vh;
}
.intro h1{
   text-align: center;
   color:var(--another-color);
   font-family: arial;
   font-size: 90px;
   padding-top: 100px;
}
.write{
    display: flex;
    margin-top: 150px;
    
}
#right{
    position: relative;
    left: 150px;
}
#right h4{
    color:#021425;
    font-family:Arial;
    font-size: 50px;
}
#right p{
    color:var(--secondary-color--);
    font-family: arial;
}
.write img{
    height: 90vh;
    margin-left: 60px;
   position: relative;
    margin-bottom: 90px;
}
.mission{
    display: flex;
    position: relative;
    top:50px;
    right: 90px;
}
.mission img{
    height: 90px;
    position: relative;
    bottom:10px;
}
.values h2{
    color:#021425;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    position: relative;
    right:20px;
}
.values ul li{
    position: relative;
    right: 50px;
    font-family: arial;
}
span{
    color:#021425;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;

}
.close{
    margin-top: 30px;
    position: relative;
    right: 20px;
}
.close h2{
    color:#021425;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;   
}

footer{
    background: linear-gradient(rgba(0, 0, 0, 0.918),rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.24)),url(/GALLERY/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 700px;
    justify-content:space-between;
    height:60vh;

}
.side{
    margin-left: 30px;
}
.side img{
    height: 20vh;
}
.side p{
    color:var(--another-color);
    font-family: arial;
}
.side button{
    background-color: var(--another-color);
    margin-left: 80px;
    margin-bottom: 20px;
}
.company{
    text-align: center;
    margin-top: 40px;
}
.company h1{
    font-family: arial;
    font-size: 45px;
    color:white;
}
.company ul li a{
    text-decoration: none;
    color:var(--another-color);
    font-family: arial;
    font-size: 25px;
}
.to{
    display: flex;
    color:white;
    margin-top: 150px;
    margin-right: 90px;

}
.to a{
    color:white;
    text-decoration: none;
    font-family: arial;
}
.social{
    display: flex;
    position: relative;
    bottom:55px;
    gap:20px
    
}
.social img{
    height: 30px;
    position: relative;
    top:100px;
    left:1000px;
    
}
hr{
    height:2px;
    background-color:white
}
.last{
    position: relative;
    margin-bottom: 90px;
}
.copy{
    color:white;
    position: relative;
    top: 20px;
    left: 10px;
    font-family: arial;
 }
