:root{
    --primary-color--:#05427A;
    --secondary-color--:#021425;
    --tertiary-color--:#02386B;
    --button-color:#D9D9D9;
    --another-color:#1681E5;

}
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.logo img{
    height:90px;
}
nav ul {
    display:flex;
    gap:30px;
   
    
}
nav ul li{
    margin-right: 30px;
    /* position: relative; */
    /* right: 70px; */
}
nav ul li a{
   
    color:var(--primary-color--);
    text-decoration: none;
    font-size:17px;
    position:relative;
    top:39px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
   
}

button{
    background-color:var(--tertiary-color--); 
    color:white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    height:5vh;
    width:10vw;
    color:white;
 

 }
 button:hover{
    background-color: var(--secondary-color--);
    transform:scale(1.1);
    transition-duration: 1s;
   
 }
 button a{
    color:white;
    font-size: 15px;
    text-decoration: none;
 }
 .hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color--);
    margin: 5px 0;
    transition: var(--transition--);
}
 .greet{
    background:linear-gradient( #02386bd0,#02386b73,#02386b59),url(/GALLERY/Screenshot\ 2025-03-25\ 095131.png);
    height:70vh;
    justify-content: center;
    width:100% ;

 }
 .flexee{
   display:flex;
   flex-wrap: wrap;
   justify-content:center;
   gap:100px;
   align-items: center;
   height: 50vh;
   

 }
 .con{
   color:white;
   font-family: arial;
   text-transform: uppercase;
   margin-top: 50px;
   font-size: 30px;
 }
 .form{
   width:40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height:400px;
   font-family: sans-serif;
   color:white;
   font-size: 15px; 
 }
 .form h3{
   font-family: sans-serif;
   color:white;
   font-size: 25px;
 }
 input{
   width:400px;
   height:30px;
   text-align: center;
   border-radius: 10px;
   border:none;   
}
textarea{
 height: 100px;
 width:400px;
 margin-top: 10px;
 border:none;
}
 
 footer{
    background: linear-gradient(rgba(0, 0, 0, 0.918),rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.24)),url(/GALLERY/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 

}
.bigger{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content:space-around;
    height: auto;
    width: 100%;
    
}
.side{
    display: flex;
    flex-direction: column;
}
.side img{
    height: 20vh;
}
.side p{
    color:var(--another-color);
    font-family: arial;
}
.side button{
    background-color: var(--another-color);
    width:100px;

}
.company{
    text-align: center;
    margin-top: 40px;
}
.company h1{
    font-family: arial;
    font-size: 45px;
    color:white;
}
.company ul li a{
    text-decoration: none;
    color:var(--another-color);
    font-family: arial;
    font-size: 25px;
}
.to{
    display: flex;
    color:white;
    margin-top: 150px;
    margin-right: 90px;

}
.to a{
    color:white;
    text-decoration: none;
    font-family: arial;
}


hr{
    height:2px;
    background-color:white
}
.last{
    position: relative;
    /* bottom: 90px; */
}
.copy{
    color:white;
   text-align: center;
    font-family: arial;
 }
 @media screen and (max-width:768px) {
   .form{
      input{
   width:300px;
   height:30px;
   text-align: center;
   border-radius: 10px;
   border:none;   
}
textarea{
 height: 100px;
 width:300px;
 margin-top: 10px;
 border:none;
}
   }

 }
 @media screen and (max-width:425px) {
   .greet{
      height: 120vh;
   }  
   .form{
      input{
   width:200px;
   height:30px;
   text-align: center;
   border-radius: 10px;
   border:none;   
}
textarea{
 height: 100px;
 width:200px;
 margin-top: 10px;
 border:none;
}
   }
 
 }
 
