:root{
    --primary-color--:#05427A;
    --secondary-color--:#021425;
    --tertiary-color--:#02386B;
    --button-color:#D9D9D9;
    --another-color:#1681E5;

}
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: white;
    align-items:center;
    height: 70px;
    position: fixed;
    width: 100%;
    top:0;
    z-index:1000;
    box-shadow: 0 4px 6px #02142583;
}
.logo img{
    height:50px;
}
nav ul {
    display:flex;
    gap:30px;
   
    
}
nav ul li{
   
}
nav ul li a{
   
    color:var(--primary-color--);
    text-decoration: none;
    font-size:17px;
    font-family: arial;
    text-transform: uppercase;
  
   
}

button{
    background-color:var(--tertiary-color--); 
    color:white;
    border-radius: 5px;
    border: none;
    height: 30px;;
    width:100px;
    color:white;
  
   

 }
 button:hover{
    background-color:#1681E5;
    transform:scale(1.1);
    transition-duration: 1s;
    border: 2px solid #021425;
    scale: 1;

   
 }
 button a{
    color:white;
    font-size: 15px;
    text-decoration: none;  
   
  }
  .hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color--);
    margin: 5px 0;
    transition: var(--transition--);
}
h1{
    font-size: 80px;
    text-align: center;
    color:var(--another-color);
    font-style: arial;
    
}
h3{
    font-size: 40px;
    color:#ffff;
    font-family: arial;
    text-align: center;
}



body{
    background-color:var(--secondary-color--)
}

.web{
    display:flex;
   justify-content:center;
   flex-wrap: wrap;
    gap:20px; 
   
}
.pics img{
    height:30vh;
    border-radius: 20px;
}
.pics:hover{
    transform: scale(1.1);
    transition-duration: 2s;
    transform: translateY(-10px);
}
.UI{
    display:flex;
    flex-wrap: wrap;
     gap:20px;
    justify-content:center;
     
}
.UI img{
    height:70vh;
   
}

.mobile{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 40px;
}
.mobile img{
    height:80vh;
}
#win img{
    width:30vw;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.logo img{
    height:90px;
}
nav ul {
    display:flex;
    gap:30px;
   
    
}
nav ul li{
    margin-right: 30px;
    position: relative;
    right: 30px;
}
nav ul li a{
   
    color:var(--another-color);
    text-decoration: none;
    font-size:17px;
    position:relative;
    top:39px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
   
}

button{
    background-color:var(--tertiary-color--); 
    color:white;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    height:5vh;
    width:10vw;
    position: relative;
    /* right: 40px; */

 }
 button:hover{
    background-color:transparent;
    color:#021425;
    transform:scale(1.1);
    transition-duration: 1s;
    transform: rotate(360deg);
    border: 2px solid #021425;
    scale: 1;

   
 }
 button a{
    color:white;
    font-size: 15px;
    text-decoration: none;  
   
 }
 .copy{
    color:white;
 }
 
