:root{
    --primary-color--:#05427A;
    --secondary-color--:#021425;
    --tertiary-color--:#02386B;
    --button-color:#D9D9D9;
    --another-color:#1681E5;

}
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.intro{
    background: linear-gradient(rgba(0, 0, 29, 0.664),rgba(0, 0, 29, 0.603),rgba(0, 0, 29, 0.63)),url(/GALLERY/group-multinational-busy-people-working-office.jpg);
    /* background-attachment: fixed; */
    background-position: center;
   background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header{
    display: flex;
    justify-content:space-around;
    background-color: white;
    align-items:center;
    height: 70px;
    position: fixed;
    width: 100%;
    top:0;
    z-index:1000;
    box-shadow: 0 4px 6px #02142583;
}
.logo img{
    height:50px;
}
nav ul {
    display:flex;
    gap:30px;
   
    
}
nav ul li{
   
}
nav ul li a{
   
    color:var(--primary-color--);
    text-decoration: none;
    font-size:17px;
    font-family: arial;
    text-transform: uppercase;
  
   
}

button{
    background-color:var(--tertiary-color--); 
    color:white;
    border-radius: 5px;
    border: none;
    height: 30px;;
    width:100px;
    color:white;
  
   

 }
 button:hover{
    background-color:#1681E5;
    transform:scale(1.1);
    transition-duration: 1s;
    border: 2px solid #021425;
    scale: 1;

   
 }
 button a{
    color:white;
    font-size: 15px;
    text-decoration: none;  
   
 }
 


 .text{
   text-align: center;
   padding-top: 250px;
   
 }
 .text h3{
    font-size:45px;
    color: white;
    font-family: arial;
  
  
    
 }
 
 .text p{
    font-size: 15px;
     padding-top: 20px;
    color: white;
    font-family: arial;
 }
 .buttons{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    margin-top: 30px;
 }
.text button{
    background-color: var(--button-color);
 
}

.text button a{
    color:black;
    font-weight: bold;
}

.more{
    margin-top: 50px;
}
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
      gap:50px;
}
.child{
    background-color: var(--secondary-color--);
    height:300px;
    width:300px;
    border-radius:10px;
    text-align: center;
    color:white;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:60px;
  
   
    
}

.child p{
    padding-top: 50px;
}


.child button{
    background-color: var(--another-color);
    
    
}
.child button:hover{
    background-color: #021425;
}
.three{
    margin-top: 100px;
}
 h4{
    font-size: 25px;
    text-align:center;
    color:var(--secondary-color--);
    font-family: arial;
    font-weight: bold;
    padding: 20px;
}
/* .go{
    position:relative;
    left:1000px;
    bottom:105px;
    background-color: #021425;
    font-size: 20px;
    height: 40px;
} */
.members{
   display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:50px;
  
}
.ind img{
    height: 35vh;
    

}
.ind{
    height:400px;
    width:300px;
    box-shadow: 2px 2px 2px 2px var(--secondary-color--);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
.ind h5{
    color:#021425;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
}
.count{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:30px;
    justify-content: space-evenly;
    margin-top: 50px;
    background: linear-gradient(to top,black,rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.199)),url(/GALLERY/Best\ Software\ Development\ Company\ in\ India\ _\ Slash\ Star.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:30vh;
    align-items: center;
}
.num h1{
    font-size: 80px;
    color:white;
    font-family: arial;
}
.num p{
    color:gray;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    text-align: center;

}
.cust{
    box-shadow: 2px 2px 2px 2px var(--secondary-color--);
    border-radius: 15px;
    width: 85vw;
   justify-self: center;
    height:fit-content;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
}
.cust h3{
    text-align: center;
    margin-top: 90px;
    color:#1681E5;
    font-family: arial;
    font-size: 25px;
}
.cust p{
    text-align: center;
    color: #021425;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
}
.img{
    display: flex;
    flex-wrap:wrap;
    gap:50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.stars{
   display: flex;
    flex-wrap:wrap;
    gap:50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
}
.stars img{
    height: 40px;
    
}
footer{
    background: linear-gradient(rgba(0, 0, 0, 0.918),rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.24)),url(/GALLERY/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 

}
.bigger{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content:space-around;
    height: auto;
    width: 100%;
    
}
.side{
    display: flex;
    flex-direction: column;
}
.side img{
    height: 20vh;
}
.side p{
    color:var(--another-color);
    font-family: arial;
}
.side button{
    background-color: var(--another-color);

}
.company{
    text-align: center;
    margin-top: 40px;
}
.company h1{
    font-family: arial;
    font-size: 45px;
    color:white;
}
.company ul li a{
    text-decoration: none;
    color:var(--another-color);
    font-family: arial;
    font-size: 25px;
}
.to{
    display: flex;
    color:white;
    margin-top: 150px;
    margin-right: 90px;

}
.to a{
    color:white;
    text-decoration: none;
    font-family: arial;
}


hr{
    height:2px;
    background-color:white
}
.last{
    position: relative;
    /* bottom: 90px; */
}
.copy{
    color:white;
   text-align: center;
    font-family: arial;
 }
